name: Renovate
on:
  schedule:
    # Run Renovate every day at 1:00 AM
    - cron: "0 1 * * *"
  workflow_dispatch:

# need these permissions
# Active account: true
#                  - Git operations protocol: https
#                  - Token: ghp_************************************
#                  - Token scopes: 'admin:public_key', 'copilot', 'delete:packages', 'read:org', 'repo', 'write:packages'
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.0.2
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
        #          configurationFile: renovate.json5 // not needed automatically finds but good to know
        env:
          #          LOG_LEVEL: debug
          RENOVATE_BASE_BRANCHES: "master,develop"
          RENOVATE_REPOSITORY_CACHE: enabled
          RENOVATE_ONBOARDING: "false"
          RENOVATE_PLATFORM: github
          RENOVATE_AUTOMERGE: true
          RENOVATE_AUTODISCOVER_FILTER: ${{ github.event.repository.full_name }}
          RENOVATE_ENDPOINT: ${{ secrets.GITHUB_API_URL }}
